#Header{
    text-align: center;
    color: yellowgreen;
    /* margin: 10px; */
    border: 10px solid red;
    border-width: 2px;
    /* border-left: 10px solid red; */
    background-color: blueviolet;
    margin: 10px 400px 0px 400px;
    background-image: url('what-is-a-blog-1.png');
    
}
.ol{
    color: darkblue;
    font: size 15px;
}
.pic{
    margin: 10px 0px 0px 100px;
    border: 5px solid blanchedalmond;

}